<app-navbar></app-navbar>
<main class="container-fluid">

  <!-- banner comeco-->
  <!-- <div id="carouselExampleSlidesOnly" class="carousel slide mt-2 bg-secondary bg-opacity-25" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" *ngFor="let data of bannerImgs">
        <img [src]="data.img" width="425px" height="325px" class="d-block">
      </div>
    </div>
  </div> -->
  <!-- banner fim-->

  <!-- categorias box comeco -->

  <div class="container mt-5 mb-5">

    <div class="row categoriesBox d-flex align-items-center justify-content-around">
      <div class="col-lg-3 categoriesContent" *ngFor="let data of getCategoriesData">

        <a href="product-page/{{data.code}}" class="d-flex justify-content-center">
          <div class="products p-2 m-2 bg-light">
            <div>
              <img [src]="data.img" width="70%" height="120px">
            </div>
            <h4 class="product-name text-center"> {{data.name}}</h4>
          </div>
        </a>

      </div>
    </div>

  </div>
  <!-- categorias box fim -->

  <!-- lista de produtos inicio -->

  <div class="container mt-3 mb-3">

    <div class="row productBox">

      <p>
        <a href="" class="float-start link-offset-3">O melhor dos Salgados!</a>
        <a href="" class="float-end"> <i class="bi bi-arrow-right-circle"></i> </a>
      </p>

      <div class="d-flex justify-content-around">
      <div class="col-lg-3 mt-5 text-center" *ngFor="let data of getSalgadoProductData; index as i">

        <a href="" class="productLink">
          <div class="productContent" *ngIf="i<=3">
            <div class="productImg">
              <img src="{{data.img}}" alt="">
            </div>
            <h4> {{data.name}}</h4>

          </div>
        </a>

      </div>
      </div>

    </div>

  </div>

  <!-- lista de produtos fim -->

</main>
